body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background :#EADC07;
    border-radius: 15%;
}

h1 {
    font-size: 2em;
    color: #FF0909;
}
